body {
    text-align: center;
}
.boxSearch {
    margin: 0 auto 5px auto;
    width: 1210px;
    height: 65px;
    background-color: #FEFDCA;
}
.anadiv {
    margin: 0 auto 5px auto;
    width: 1210px;
  

}
.boxSpecial {
    width: 441px;
    height: 64px;
    background-color: #E0F9B5;
    float: left;
    font-size:large;
    margin-right: 5px;
    padding: 6px 0 6px 0;
}
.boxHelp {
    width: 318px;
    height: 62px;
    background-color: #A5DEE5;
    float: left;
    font-size: small;
    margin-right: 5px;
    padding: 7px 0 7px 0;
}
.boxGet {
    width: 441px;
    height: 76px;
    background-color: #FFCFDF;
    float: left;
    font-size:small;

}