body {
    background-color: #202124;
}

.boxSettings {
 float: right;
 color: white;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 15px;
 margin-left: 20px;
 
}
.boxPadding {
    padding: 12px 0 0 0;
    float: right;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
}
